{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}
<div class="logout-and-button-container">
    <div class="logout-container">
        <div class="logout-h3-container">
            <h3>{% trans "Log Out" %}</h3>
        </div>
        <div class="logout-p-container">
            <p>{% trans 'Are you sure you want to log out?' %}</p>
        </div>
    </div>
    <div class="logout-form-and-button-container">
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="logout-form-button-container">
                <button type="submit" class="logout-form-button">Log Out</button>
                <a class="logout-form-button" href="{%url 'home' %}">Cancel</a>
            </div>
            </form>
    </div>
</div>
{% endblock %}
