asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
cloudinary==1.36.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==3.2.23
django-heroku==0.3.1
gunicorn==21.2.0
idna==3.4
packaging==23.2
psycopg2==2.9.9
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.26.15
whitenoise==6.6.0
