/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 700;
    color: #252424
}

/*base------------------------------------base----------------------------------base---------------------------------------------------------------------------------------*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #677C86;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}


/*header------------------------------------header--------*/
header {
    background-color: #C6F1E7;
    position: fixed;
    padding: 0 2px;
    margin-bottom: 0;
    z-index: 99;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    align-items: flex-start;
    border-top: 1px solid #3a3a3a;
}

.logo-header {
    height: 4em;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #C6F1E7;
    width: fit-content;
    display: none;
}

.nav-toggle-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-top: .5em;
}

nav ul {
    list-style-type: none;
    display: flex;
    width: fit-content;
    padding: 1em;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 2px 2px #677C86;
}

#menu a:hover {
    border-bottom: 1px solid #677C86;
}

/*main------------------------------------main--------*/
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #363535;
    padding-bottom: 0;
    margin-bottom: 0;
    align-content: flex-start;
    align-items: center;
    padding-top: 4em;
}

/*footer------------------------------------footer--------*/
footer {
    background-color: #6FABB0;
    padding-top: 0;
    margin-top: 0;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    box-shadow: 0 2px 2px rgb(1, 54, 54);
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #363535;
}

/*index-------------------------------------index-----------------------------------index---------------------------------------------------------------------------------------*/

p {
    padding: 1em;
}


#hero {
    padding: 2em;
    width: 100%;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/hero.jpg") no-repeat top right/cover;
}

.hero-img-container {
    display: flex;
    width: 100%;
    height: 10em;
    align-items: center;
    justify-content: center;
}

#cover-text-hero {
    width: 7em;
    height: 5em;
    background-color: rgba(149, 198, 198, 0.9);
    color: #363535;
    font-size: 160%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header-index {
    height: 7em;
}

.about-me-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-container {
    height: fit-content;
    width: 90%;
    margin-top: 1em;
    padding: 1em;
    background-color: #f1e9d6;
    border-radius: 0.5em;
    box-shadow: 0 0 1.5em #252424;
}

.about-me-h2 {
    color: #363535;
}

.about-me-p {
    padding-top: 1em;
    color: #363535
}

.discover-recipes-button {
    border-radius: 0.5em;
    box-shadow: 0 0 1.5em #252424;
    margin: 3em;
    padding: 2em;
    font-size: large;
    color: #363535;
    background-color: #f1e9d6;
}

.discover-recipes-button:hover {
    background-color: #BCB4A0;
}
/*all_recipes-------------------------------------all_recipes-----------------------------------all_recipes---------------------------------------------------------------------------------------*/

.recipes-h2 {
    text-align: center;
    margin-top: 2em;
    color: #f1e9d6;
}

.category {
    color: #f1e9d6;
    text-transform: capitalize;
    margin: 1em;

}

.recipes-row {
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    overflow-y: auto;
    /* Scrollbar style for Firefox */
    scrollbar-width: thin;
    scrollbar-color: #888888 #f4f4f4;
}
.recipes-row a { 
    color: inherit; 
    text-transform: capitalize;
    text-decoration: none;
} 

.recipes {
    height: 12em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1em;
    min-width: 10em;
    background-color: #f1e9d6;
    border-radius: 0.5em;
    box-shadow: 0 0 0.75em;
    padding: 0.5em 0.5em;
    text-align: center;
}


.recipes-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    height: 60%
}

.recipes-img {
    height: 100%;
    width: 100%;
    border-radius: .5em;
}

.recipe-h4-container {}

.recipe-h4 {
    font-size: calc(1.1vw + 1.1vh + 1.1vmin);
    outline: none;
    padding: 5px 2px;
    width: 120px;
    overflow: hidden;
}

.recipes-row::-webkit-scrollbar {
    width: 10px;
    height: 1em;
    /* Width of the scrollbar */
}

.recipes-row::-webkit-scrollbar-track {
    background: #72abaf;
    /* Background color of the scrollbar track */
}

.recipes-row::-webkit-scrollbar-thumb {
    background-color: #6FABB0;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Round the corners of the thumb */
    box-shadow: 0 2px 2px #677C86;
}

/*single_recipe-----------------------------------single_recipe---------------------------------single_recipe--------------------------------------------------------------------------------------*/

.single-recipe-h2 {}

.single-recipe {
    height: 100%;
    Width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 239, 239);
    padding-bottom: 0;
    margin-bottom: 0;
    align-items: flex-start;
    justify-content: center;
}

/*comments and like icons container------------*/

.comments-and-likes-count-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    border: 0;
}

.recipe-likes {
    display: flex;
    flex-direction: row;
    height: fit-content;
    border: 0;
    justify-content: space-evenly;
    align-items: center;
}

.form-like {}

.likes-count {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: unset;
    box-shadow: 0;
    border: 0;
}

.recipe-comments {
    height: fit-content;
    border: 0;
    justify-content: space-evenly;
    align-items: center;
}

.number-comments {
    display: flex;
    flex-direction: row;
    height: fit-content;
    border: 0;
}

/*img-and-ingredients container--------------*/
.img-and-ingredients-container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img-and-ingredients {
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.single-recipe-img-container {
    width: 70%;
    height: 100%;
    padding: 1em 0;
}

.single-recipe-img {
    height: 100%;
    width: 100%;
    padding: 1em 0;
    border-radius: .5em;
}

.ingredients {
    font-size: 1em;
    height: fit-content;
    width: fit-content;
    padding: 1em;
}

/*instructions container-----------------*/
.instructions-container {
    padding: 1em;
    width: 100%;
    height: fit-content;
}

.instructions {
    width: 100%;
    font-size: 1em;
    padding: 1em;
    height: fit-content;
}

.edit-delete-recipe {
    width: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    height: fit-content;
}
/*comments container-----------------------*/

.comments-container {
    padding: 1em;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.posted-comments-container {
    width: 100%;
    font-size: .75em;
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    flex-direction: column;
}


.posted-comments {
    max-width: 60vh;
    height: fit-content;
    width: fit-content;
}

.single-comment {
    padding: 10px;
    width: 50vh;
    height: fit-content;
}

.comment-name {}

.comment-date {}

.edit-delete-comment {
    width: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    height: fit-content;
}

.posting-as {
    padding: 2em;
}

/*comment form*/
.form-comment {
    margin-top: 1.3em;
}

.form-comment div {
    height: fit-content;
    width: fit-content;
}

.form-comment .form-group label{
    display: none ;
}

.helptext {
    display: none;
}
.textarea {
    width: 20em;
}

.comment-button {
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.25em #252424;
    color: #363535;
    background-color: #f1e9d6;
}

.comment-button:hover {
    background-color: #BCB4A0;
}
/*comment_edit-----------------------------------comment_edit---------------------------------comment_edit--------------------------------------------------------------------------------------*/

.edit-comment-form-container{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
    background-color: #f1e9d6;
    border-radius: 5px;
    box-shadow: 0 0 1.5em #010101;
}

.edit-comment-form {
}

.edit-comment-form p label {
    display: none;
}

.edit-comment-form p textarea {
    width:100%
}
.edit-comment-form-button {
    height: fit-content;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 .5em #252424;
    color: #363535;
    background-color: #f1e9d6;
}

.edit-comment-form-button a {
    text-decoration: none;
    color: inherit;
}

.edit-comment-form-button:hover {
    background-color: #BCB4A0;
}
/*comment_delete-----------------------------------comment_delete---------------------------------comment_delete--------------------------------------------------------------------------------------*/

.delete-comment-form-container{
    border-radius: 5px;
    display: flex;
    background-color: #f1e9d6;
    padding: 1em;
    color: #363535;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    width: 70%;
    box-shadow: 0 0 1.5em #010101;

}

.delete-comment-form-button-container{
}

.delete-comment-form-button {
    height: fit-content;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 .5em #252424;
    color: #363535;
    background-color: #f1e9d6;
}

.delete-comment-form-button a {
    text-decoration: none;
    color: inherit;
}
.delete-comment-form-button:hover {
    background-color: #BCB4A0;
}
.form-recipe {
    height: fit-content;
}
/*admin_recipe_create-----------------------------------admin_recipe_create---------------------------------admin_recipe_create-------------------------------------------------------------------------------------*/
.create-recipe-form-container{
    border-radius: 5px;
    display: flex;
    background-color: #f1e9d6;
    padding: 1em;
    color: #363535;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    box-shadow: 0 0 1.5em #010101;
}

.create-recipe-form-button {
    height: fit-content;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 1.5em #252424;
    color: #363535;
    background-color: #f1e9d6;
}

.create-recipe-form-button a {
    text-decoration: none;
    color: inherit;
}
.create-recipe-form-button:hover {
    background-color: #BCB4A0;
}
/*admin_recipe_edit-----------------------------------admin_recipe_edit---------------------------------admin_recipe_edit-------------------------------------------------------------------------------------*/
.edit-recipe-form-container{
    border-radius: 5px;
    display: flex;
    background-color: #f1e9d6;
    padding: 1em;
    color: #363535;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    box-shadow: 0 0 1.5em #010101;

}

.edit-recipe-form-button {
    height: fit-content;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 1.5em #252424;
    color: #363535;
    background-color: #f1e9d6;
}

.edit-recipe-form-button a {
    text-decoration: none;
    color: inherit;
}

.edit-recipe-form-button:hover {
    background-color: #BCB4A0;
}
/*admin_recipe_delete-----------------------------------admin_recipe_delete---------------------------------admin_recipe_delete-------------------------------------------------------------------------------------*/
.delete-recipe-form-container{
    border-radius: 5px;
    display: flex;
    background-color: #f1e9d6;
    padding: 1em;
    color: #363535;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    width: 70%;
}

.delete-recipe-form-button-container{
}

.delete-recipe-form-button {
    height: fit-content;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 .5em #252424;
    color: #363535;
    background-color: #f1e9d6;
}

.delete-recipe-form-button a {
    text-decoration: none;
    color: inherit;
}
.delete-recipe-form-button:hover {
    background-color: #BCB4A0;
}
/*Login-----------------------------------Login---------------------------------Login--------------------------------------------------------------------------------------*/

.login-and-button-container {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
    background-color: #f1e9d6;
    border-radius: 5px;
    box-shadow: 0 0 1.5em #010101;
}

.login-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.login-h3-container {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.login-h3-container h3 {
    width: fit-content
}

.login-p-container {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.login-p-container p {
    height: fit-content
}

.login-form-and-button-container{
}


.login-form-and-button {
    height: fit-content;
}

.login-form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form p {
    padding-top: 1em;
    padding-bottom: 2em;
}

.login-form ul {
    padding: 1em 2em;
    padding-bottom: 0;
}

.login-form ul li {
    padding-bottom: 1em;
}

.login-form-button-container{

}

.login-form-button {
    height: fit-content;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 .5em #252424;
    color: #363535;
    background-color: #f1e9d6;
}

.login-form-button a {
    text-decoration: none;
    color: inherit;
}
.login-form-button:hover {
    background-color: #BCB4A0;
}


/*Logout-----------------------------------Logout---------------------------------Logout--------------------------------------------------------------------------------------*/

.logout-and-button-container {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
    background-color: #f1e9d6;
    border-radius: 5px;
    box-shadow: 0 0 1.5em #010101;
}

.logout-container {
    height: fit-content
}

.logout-h3-container {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.logout-h3-container h3 {
    width: fit-content
}

.logout-p-container {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.logout-p-container p {
    height: fit-content
}

.logout-form-and-button-container{

}

.logout-form-button {
    height: fit-content;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 .5em #252424;
    color: #363535;
    background-color: #f1e9d6;
}

.logout-form-button a {
    text-decoration: none;
    color: inherit;
}
.logout-form-button:hover {
    background-color: #BCB4A0;
}

/*signup-----------------------------------signup---------------------------------signup-------------------------------------------------------------------------------------*/

.signup-and-button-container {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
}

.signup-message-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.signup-message-h3-container {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.signup-h3-container h3 {
    width: fit-content
}

.signup-p-container {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.signup-p-container p {
    height: fit-content
}

.signup-form-and-button-container {
        height: fit-content;
}

.signup-form-and-button {
    height: fit-content;
}

.signup-form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form p {
    padding-top: 1em;
    padding-bottom: 2em;
}

.signup-form ul {
    padding: 1em 2em;
    padding-bottom: 0;
}

.signup-form ul li {
    padding-bottom: 1em;
}

.signup-button {
    height: fit-content;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 1.5em #252424;
    color: #363535;
    background-color: #f1e9d6;
}

.signup-button:hover {
    background-color: #BCB4A0;
}

.errorlist li {
    font-weight: bold
}



/* Media query: large or landscape phones (576px and up) -----------------------------------------------576px----------------------------------------------------------------------- */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) ------------------------------------------------------768px----------------------------------------------------------------------- */
@media screen and (min-width: 768px) {}

/* Large devices (laptops and desktops, 992px and up) -----------------------------------------------992px---------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {}

/* Large devices (laptops and desktops, 1200px and up) -----------------------------------------------1200--------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {}