
 /* Asterisk wildcard selector to override default styles added by the browser */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-weight: 700;
 }

 /* General styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /* Generic project styles */
     color: #3a3a3a;
     font-family: 'Oxygen', sans-serif;
     margin-bottom: 0;
     padding-bottom: 0;
 }

 header {
     border-top: 1px solid #3a3a3a;
 }

 header h1 {
    font-weight: 700;
 }

 /* Navbar styles with dropdown toggle */
 nav {
     background-color: seashell;
     width: 100%;
     left: 0;
     padding: 0 1rem;
     display: none;
     top: 100%;
     bottom: 90%;
 }

 /* Nav toggle */
 #nav-toggle:checked~nav {
     display: block;
 }

 #nav-toggle {
     display: none;
 }

 .nav-toggle-label {
     font-size: 2rem;
 }

 #menu a:hover {
     border-bottom: 1px solid #3a3a3a;
 }

 /*Header------------------------------------Header----------------------------------Header---------------------------------------------------------------------------------------*/
 header {
     background-color: seashell;
     position: fixed;
     padding: 0 2px;
     margin-bottom: 0;
     z-index: 99;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     text-decoration: none;
     box-shadow: 0 2px 2px #3a3a3a;
 }

 header a {
     text-decoration: none;
     color: inherit;
 }

 main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 239, 239);
    padding-bottom: 0;
    margin-bottom: 0;
    align-content: flex-start;
    align-items: center;
    padding-top:4em;
}
 /*Index-------------------------------------Index-----------------------------------Index---------------------------------------------------------------------------------------*/

p {
    padding: 1em;
}

div {
    background-color: blueviolet;
    height: 5em;
    width: 100%;
    border: 2px solid #3a3a3a;

}

#hero {
    width: 100%;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    margin-bottom: 5em;
}

.hero-img-div {
    display: flex;
    width: 100%;
    height: 10em;
    position: absolute;
    align-items: center;
    justify-content: center;
}
#cover-text-hero {
    width: 6em;
    height: 3em;
    background-color: rgba(46, 99, 99, 0.8);
    color: seashell;
    font-size: 160%;
    border-radius: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-about-me {
    height: fit-content;
    width: 90%;
    margin-top: 1em;
    padding: 1em;
}

.h2-about-me {

}

.p-about-me {
    padding-top: 1em;
}

.h2-top-picks{
    text-align: center;
    margin-top: 2em
}

.top-picks {
    height: 12em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1em
}

.img-div-top-picks {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.img-top-picks{
    height: 100%;
    width: 100%;
}

.h3-top-picks {
}

.button-div-top-picks {
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.button-top-picks {
    padding-left: 5px;
    background-color: seashell;
    border-radius: 5px;
    padding-right: 5px;
}



.h2-recipes{
    text-align: center;
    margin-top: 2em
}

.recipes {
    height: 12em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1em;
    min-width: 10em;
}

.img-div-recipes {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.img-recipes{
    height: 100%;
    width: 100%;
}

.h3-recipes {
}

.button-div-recipes {
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.button-recipes {
    padding-left: 5px;
    background-color: seashell;
    border-radius: 5px;
    padding-right: 5px;
}

.recipes-row{
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    overflow-y: auto;
    /* Scrollbar style for Firefox */
    scrollbar-width: thin;
    scrollbar-color: #888888 #f4f4f4;
}
.recipes-row::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  .recipes-row::-webkit-scrollbar-track {
    background: purple; /* Background color of the scrollbar track */
  }
  
  .recipes-row::-webkit-scrollbar-thumb {
    background-color: darkmagenta; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Round the corners of the thumb */
    box-shadow: 0 2px 2px #3a3a3a;
}
 /*Single Recipe-----------------------------------Single Recipe---------------------------------Single Recipe--------------------------------------------------------------------------------------*/

 .single-recipe {
    height:100%;
    Width:100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 239, 239);
    padding-bottom: 0;
    margin-bottom: 0;
    align-items: flex-start;
    justify-content: center;
}

 .h2-single-recipe {

}

.number-comments-and-likes{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    border: 0;

}

.recipe-likes {
    display:flex;
    flex-direction: row;
    height: fit-content;
    border: 0;
    justify-content: space-evenly;
    align-items: center;

}

.btn-like {
    background-color: unset;
    border: 0;

}

.number-likes {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: unset;
    box-shadow: 0;
    border: 0;

}

.recipe-comments {
    height: fit-content;
    border: 0;
    justify-content: space-evenly;
    align-items: center;

}

.number-comments {
    display: flex;
    flex-direction: row;
    height: fit-content;
    border: 0;

}

/*img-and-ingredients DIV*/
.img-and-ingredients-container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img-and-ingredients{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.img-div-single-recipe{
    width: 70%;
    height: 100%;
    padding: 1em 0;
}

.img-single-recipe {
    height: 100%;
    width: 100%;
    padding: 1em 0;
}

.ingredients {
    font-size: 1em;
    height: fit-content;
    width: fit-content;
    padding:1em;
}

/*instructions DIV*/
.div-instructions {
    padding: 1em;
    width: 100%;
    height: fit-content;
}

.instructions {
    width: 100%;
    font-size: 1em;
    padding:1em;
    height: fit-content;
}

/*comments DIV*/
.div-comments{
    padding: 1em;
    width: 100%;
}

/*comments that have have been approved and are on display*/
.div-comments{
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.comment-posted {
    width: 100%;
    font-size: .75em;
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    flex-direction: column;
}

.posting-as {
    padding:0;
}

.all-comments {
    max-width: 60vh;
    height: fit-content;
    width:fit-content;
}

.single-comment {
    padding: 10px;
    width: 50vh;
    height: fit-content;
}

.comment-name {

}

.comment-date {

}

.edit-delete {
    width: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    height: fit-content;
}

.delete-comment-container {
    width: fit-content;
    height: fit-content;
}

.buttons-container {
    height: fit-content;
}

.cancel-delete {
    height: fit-content;

}

/*comments awaiting approval*/
.comment-pending {
    display: flex;
    font-size: 1em;
    width: fit-content;
    align-content: center;
    align-items: center;}

/*comment form*/
.form-comment {
    margin-top: 1.3em;
}

.form-comment div {
    height: fit-content;
    width: fit-content;
}

.form-group label {
    display:none;
}

.textarea {
    width: 20em;
}

.button-comment {

}

 /*Login-----------------------------------Login---------------------------------Login--------------------------------------------------------------------------------------*/

 .signin-and-button-div {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
}

.signin-div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.signin-h3-div {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.signin-h3-div h3 {
    width: fit-content
}

.signin-p-div {
    display: flex;
    justify-content: center;
    height: fit-content;}

.signin-p-div p {
    height: fit-content
}

.signin-form-and-button {
    height: fit-content;

}

.signin-form-div{
    height: fit-content;

}


.signin-form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-form p {
    padding-top: 1em;
    padding-bottom: 2em;
}

.signin-form ul {
    padding: 1em 2em;
    padding-bottom: 0;
}

.signin-form ul li {
    padding-bottom: 1em;
}
.signin-button {
    height: fit-content;
    margin-bottom: 1em;

}

 /*Logout-----------------------------------Logout---------------------------------Logout--------------------------------------------------------------------------------------*/

.signout-and-button-div {
    display: flex;
    width: 70%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.signout-div {
    height: fit-content
}

.signout-h3-div {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.signout-h3-div h3 {
    width: fit-content
}

.signout-p-div {
    display: flex;
    justify-content: center;
    height: fit-content;}

.signout-p-div p {
    height: fit-content
}

.signout-button-div {
    height: fit-content;
    width: fit-content;
}

.signout-button {

}
/*Sign up-----------------------------------Sign up---------------------------------Sign up--------------------------------------------------------------------------------------*/

.signup-and-button-div {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
}

.signup-div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.signup-h3-div {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.signup-h3-div h3 {
    width: fit-content
}

.signup-p-div {
    display: flex;
    justify-content: center;
    height: fit-content;}

.signup-p-div p {
    height: fit-content
}

.signup-form-and-button {
    height: fit-content;

}

.signup-form-div{
    height: fit-content;

}


.signup-form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form p {
    padding-top: 1em;
    padding-bottom: 2em;
}

.signup-form ul {
    padding: 1em 2em;
    padding-bottom: 0;
}

.signup-form ul li {
    padding-bottom: 1em;
}
.signup-button {
    height: fit-content;
    margin-bottom: 1em;

}

.errorlist li {
    font-weight:bold
}
 /*Footer------------------------------------Footer----------------------------------Footer---------------------------------------------------------------------------------------*/
 footer {
    background-color: darkcyan;
    padding-top: 0;
    margin-top: 0;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    box-shadow: 0 2px 2px rgb(1, 54, 54);
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}



 /* Media query: large or landscape phones (576px and up) -----------------------------------------------576px----------------------------------------------------------------------- */
 @media screen and (min-width: 576px) {

 }

 /* Media query: tablets and larger (768px and up) ------------------------------------------------------768px----------------------------------------------------------------------- */
 @media screen and (min-width: 768px) {

 }

 /* Large devices (laptops and desktops, 992px and up) -----------------------------------------------992px---------------------------------------------------------------------------- */
 @media screen and (min-width: 992px) {
       
 }

 /* Large devices (laptops and desktops, 1200px and up) -----------------------------------------------1200--------------------------------------------------------------------------- */
 @media screen and (min-width: 1200px) {
 }