{% extends "base.html" %}
{% load static %}
{% block css %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
{% load crispy_forms_tags %}

<p class="posting-as">Posting as: {{ user.username }}</p>

<form method="post" class="form-recipe" enctype="multipart/form-data">
    {% csrf_token %}
    {{ recipe_form | crispy }}
    <img src="{{ recipe_form.instance.featured_image.url }}">

    <button type="submit" class="button-comment">Submit</button>
</form>
{%endblock%}
