{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}

<h1 class="recipes-h1">Recipes</h1>
{% for category in categories %}
<h2 class="category">{{ category.name }}</h2>
<div class="recipes-row">
    {% for recipe in category.recipe_set.all %}
    <a href="{% url 'single_recipe' recipe.slug %}">
        <div class="recipes">
        <div class="recipes-img-container">
            {% if 'placeholder' in recipe.featured_image.url %}
            <img class="recipes-img" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
            {% else %}
            <img class="recipes-img" src="{{ recipe.featured_image.url }}">
            {% endif %}
        </div>
        <div class="recipe-h4-container">
        <h4 class="recipe-h4">{{ recipe.title }}</h4>
        </div>
    </div></a>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}