{% extends "base.html" %}
{% load static %}
{% block css %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
<!--Edit Comment Feature-->
<div class="edit-comment-form-container">
    <h4>Edit Comment</h4>
    <!--Comment Form-->
    <form method="post" class="edit-comment-form">
        {% csrf_token %}
        {{form.as_p}}
        <div class="edit-comment-form-button-container">
            <button type="submit" class="edit-comment-form-button">Submit</button>
            <a class="edit-comment-form-button" href="{%url 'home' %}">Cancel</a>
        </div> 
    </form>
</div>
{% for comment in comments %}
{% if comment.user != request.user %}
<div id="404" style="background: url('{% static 'images/404.jpg' %}') no-repeat top right/cover;">
                <a href="{%url 'home' %}">Go to Home</a>
</div>
{% endif %}
{% endfor %}
{% endblock %}
