{% extends "base.html" %}
{% load static %}
{% block css %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
<div class="delete-comment-container">
    <h4>Are you sure you want to delete your comment?</h4>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
    <div class="buttons-container">
            <a href="{%url 'recipes' %}"><button type="button"class="cancel-delete">Cancel</button></a>
            <button type="submit" href="{%url 'recipes' %}" class="cancel-delete">Delete</button>
    </div>
    </form>
</div>
{% endblock %}