{% extends "base.html" %}
{% load static %}
{% block css %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
<style> #hero { background: url("{% static 'images/hero.jpg' %}") no-repeat top right/cover; } </style>
<div id="hero" style= "background: url("{% static 'images/hero.jpg' %}") no-repeat top right/cover; ">
    <div class = "hero-img-and-logo-container">
        <div id="cover-text-hero">
            <img src="{% static 'images/logo/logo_transparent.png' %}" alt="" class="logo-header-index">
        </div>
    </div>
</div>
<div class="about-me-and-button-container">
    <div class="about-me-container">
        <h2 class="about-me-h2">About Me</h2>
        <p class ="about-me-p">Welcome to "Let's Eat" - A Culinary Journey!</p>

        <p class ="about-me-p">Food isn't just sustenance; it's my passion, my adventure, and the heart of my existence. Hi there, I'm Mary, and I'm delighted to welcome you to my corner of the internet, where my love for all things culinary comes to life through the pages of "Let's Eat."</p>
        
        <p class ="about-me-p">As a devoted food enthusiast, my journey through the diverse landscapes of taste began long ago, sparked by flavors that danced on my palate and recipes that spoke to my soul. The idea of "Let's Eat" emerged from a simple desire—to share the joy, the stories, and the mouthwatering recipes that have made their way into my heart over the years. It's more than just a blog; it's an invitation to explore the world through food, to savor every bite and embrace the cultural richness that each dish encapsulates.</p>
        
        <p class ="about-me-p">Through this digital kitchen, I aim to craft a delectable space where I spill the beans (pun intended!) on my favorite recipes, from cherished family heirlooms to innovative concoctions that have surprised even my own taste buds. Expect a diverse array of dishes, each narrating its own story—a symphony of flavors from around the globe plated for your delight.</p>
        
        <p class ="about-me-p">"Let's Eat" isn't just about recipes; it's a celebration of culinary experiences, a canvas where I paint my adventures in the kitchen and beyond. Whether you're a seasoned home cook looking for fresh inspiration or a newbie eager to explore the wonders of gastronomy, there's a seat at my virtual table waiting just for you.</p>
        
        <p class ="about-me-p">Discover a curated selection of recipes that have garnered praise and admiration—a collection tailored to offer you a taste of the best "Let's Eat" has to offer. Together, let's embark on this flavorful journey—one delicious recipe at a time!</p>
    </div>
        <a href="{%url 'recipes' %}" class="discover-recipes-button">Discover Recipes</a>
</div>
{%endblock%}
