{% extends "base.html" %}
{% load static %}
{% block css %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}

<section id="hero">
    <div class = "hero-img-div">
    <div id="cover-text-hero">
        <h2>LET'S EAT!</h2>
    </div>
</div>
</section>

<h2 class = "h2-top-picks">My Top Picks</h2>
<div class = "top-picks">
    <div class ="img-div-top-picks">
        {% if "placeholder" in recipe.featured_image.url %}
        <img class="img-top-picks"
            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
        {% else %}
        <img class="img-top-picks" src=" {{ recipe.featured_image.url }}">
        {% endif %}
    </div>
    <h3 class = "h3-top-picks">placeholder{{ recipe.title }}</h3>
    <div class = "button-div-top-picks">
        <button class = "button-top-picks">Select</button>
    </div>
</div>
<div class = "top-picks">
    <div class ="img-div-top-picks">
        {% if "placeholder" in post.featured_image.url %}
        <img class="img-top-picks"
            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
        {% else %}
        <img class="img-top-picks" src=" {{ post.featured_image.url }}">
        {% endif %}
    </div>
    <h3 class = "h3-top-picks">{{ recipe.title }}</h3>
    <div class = "button-div-top-picks">
        <button class = "button-top-picks"><a href="#">Select</a></button>
    </div>
</div>
<div class = "top-picks">
    <div class ="img-div-top-picks">
        {% if "placeholder" in post.featured_image.url %}
        <img class="img-top-picks"
            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
        {% else %}
        <img class="img-top-picks" src=" {{ post.featured_image.url }}">
        {% endif %}
    </div>
    <h3 class = "h3-top-picks">{{ recipe.title }}</h3>
    <div class = "button-div-top-picks">
        <button class = "button-top-picks">Select</button>
    </div>
</div>
{%endblock%}
